<%= stylesheet_link_tag "lcars", :media => "all" %>

<div class="lcars-container">
<h1>THE SPACE ERRORS GAME</h1>
<hr class="tallhr4">
<div class="lcars-row spaced">
	<div class="lcars-column u-2-8 lcars-elbow left bottom lcars-tan-bg">
	</div>
	<div class="lcars-column u-6-8 lcars-divider lcars-tan-blue-divide">
	  <div class="lcars-row">
	  	<hr class="tallhr4">
	  	<h2>Class III Probe Schematics</h2>
	  </div>
	 </div>
</div>
<hr class="tallhr4">
<div class="lcars-row spaced">
	<div class="lcars-column u-1-8">
		<!-- <hr class="tallhr2"> -->
		<ul class="lcars-menu">
		  <li class="lcars-tan-bg">SCAN 4</li>
		  <li class="lcars-tan-bg">SCAN 2</li>
		  <li class="lcars-blue-bg tall">SCAN 3</li>
		</ul>
	</div>
	<div class="lcars-column u-1-8">
		<!-- <hr class="tallhr2"> -->
		<ul class="lcars-menu">
			<li class="lcars-blue-bg tall">SCAN 3</li>
		  <li class="lcars-tan-bg">SCAN 4</li>
		  <li class="lcars-tan-bg">SCAN 2</li>
		</ul>
	</div>
	<div class="lcars-column u-1-8">
		<ul class="lcars-menu" onclick="bp()">
		  <li class="lcars-tan-bg" onclick="bp()">GRID ALPHA</li>
		  <li class="lcars-tan-bg large-gap" onclick="bp()">SEARCH A33</li>
		  <li class="lcars-blue-bg tall" onclick="bp()">PATTERN 4432</li>
		</ul>
	</div>
	<div class="lcars-column u-5-8">
		<div >
		<img id="green" class="star-view" src="/assets/stars2.jpg">
		</div>
		<!-- <div id="green" style="background-color: #c0ffc0; width: auto; height: 5em; border: thin solid gray; margin-top: .5em; margin-left: 16px;">
		</div> -->
		<div id="red" class="star-view" style="background-color: #ffc0c0; width: 700px; height: 200px; border: thin solid gray; margin-top: .05em; margin-left: 5px;">
		</div>
	</div>
</div>

	<div class="lcars-row spaced">
		<div class="lcars-column u-2-8">
			<ul class="lcars-menu">
			  <li class="lcars-blue-bg tall">Testing Large 9</li>
			</ul>
		</div>
		<div class="lcars-column u-1-8 lcars-elbow left top lcars-blue-bg">
		  <!-- <a href="#">Side Button 3</a> -->
		</div>
		<div class="lcars-column u-5-8 lcars-divider bottom lcars-blue-tan-divide">
		</div>
	</div>

	<div class="lcars-row spaced">
		<div class="lcars-column u-2-8">
			<ul class="lcars-menu">
			  <li class="lcars-blue-bg tall">Testing 3</li>
			</ul>
		</div>
		<div class="lcars-column u-1-8 lcars-elbow left bottom lcars-blue-bg">
		  <!-- <a href="#">Side Button 3</a> -->
		</div>
		<div class="lcars-column u-1-8">

		</div>
		<div class="lcars-column u-5-8 lcars-divider lcars-blue-tan-divide">
		  <div class="lcars-row">
		  	<hr class="tallhr4">
		    <div class="lcars-column u-2-8" style="margin-left: 4em;">
          <a href="#" class="lcars-button radius" onclick="randomNumber1()">
            ALPHA
            <span class="lcars-button-addition" id="number1"></span>
          </a>
        </div>
        <div class="lcars-column u-2-8">
          <a href="#" class="lcars-button radius" onclick="randomNumber2()">
            GAMMA
            <span class="lcars-button-addition"id="number2"></span>
          </a>
        </div>
        <div class="lcars-column u-2-8">
          <a href="#" class="lcars-button radius" onclick="randomNumber3()">
            DELTA
            <span class="lcars-button-addition"id="number3"></span>
          </a>
        </div>
		  </div>
		</div>
	</div>
	<div class="lcars-row spaced">
		<div class="lcars-column u-2-8">
			<ul class="lcars-menu">
			  <li class="lcars-tan-bg">Testing 2</li>
			</ul>
		</div>
		<div class="lcars-column u-1-8">
			<ul class="lcars-menu">
			  <li class="lcars-tan-bg">Launch Probe</li>
			</ul>
		</div>
		<div class="lcars-row">
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .8em;">
				<h6>Hey</h6>
			</div>
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .8em;">
				<h6>Hey</h6>
			</div>
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .8em;">
				<h6>Hey</h6>
			</div>
		</div>
	</div>
	<div class="lcars-row spaced">
		<div class="lcars-column u-2-8">
			<ul class="lcars-menu">
			  <li class="lcars-blue-bg tall">Testing 2</li>
			</ul>
		</div>
		<div class="lcars-column u-1-8">
			<ul class="lcars-menu">
			  <li class="lcars-tan-bg large-gap">Launch Probe</li>
			  <li class="lcars-tan-bg">Testing Large 2</li>
			</ul>
		</div>
		<div class="lcars-row">
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .5em;">
				<h6>Hey</h6>
			</div>
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .5em;">
				<h6>Hey</h6>
			</div>
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .5em;">
				<h6>Hey</h6>
			</div>
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .5em;">
				<h6>Hey</h6>
			</div>
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .5em;">
				<h6>Hey</h6>
			</div>
			<div class="lcars-column u-1-8" style="margin-left: 5em; margin-top: .5em;">
				<h6>Hey</h6>
			</div>
		</div>
	</div>
	<div class="lcars-row spaced">
		<div class="lcars-column u-2-8 lcars-elbow left top lcars-tan-bg">
		</div>
		<div class="lcars-column u-6-8 lcars-divider bottom lcars-tan-blue-divide">
		  <div class="lcars-row">
		  	<h4 style="margin-top: .2em;">Class III Probe Launch Protocol</h4>
		  </div>
		 </div>
	</div>

<script type="text/javascript">

	  function randomNumber1() {
	        var x = Math.floor((Math.random() * 1000) + 1);
	        document.getElementById("number1").innerHTML = x;
	    };
	    function randomNumber2() {
	        var x = Math.floor((Math.random() * 500));
	        document.getElementById("number2").innerHTML = x;
	    };
	    function randomNumber3() {
	        var x = Math.floor((Math.random() * 200) + 1);
	        document.getElementById("number3").innerHTML = x;

	    };

	    function bp() {
	      jQuery('#green').hide();
	      jQuery('#red').hide();
	      r = Math.random() * 2.0;
	      jQuery.ajax("/errors/ajax?p=" + r, {
	        success: function (data,status) {
	          jQuery('#green').show();
	        },
	        complete: function (xhr,status) {
	          if (status != "success") {
	            jQuery('#red').show();
	          }
	        }
	      });
	    }
	    jQuery().ready(function () {
	      jQuery('#green').hide();
	      jQuery('#red').hide();
	    });

	    $(document).ready( function(){
	      randomNumber1();
	      randomNumber2();
	      randomNumber3();
	      console.log("Red Alert");
	      bp();
	      toggle();
	      spaceProbe();
	    });
</script>
<!-- 	<div class="lcars-row spaced">
		<div class="lcars-column u-1-8 lcars-elbow left bottom lcars-blue-bg">
		  <a href="#">Side Button 1</a>
		</div>

	</div> -->


  <!-- TOP ROW
  =========================================================== -->


