.index {
  background-image: url('/assets/stars.jpg');
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  /*color: inherit;*/
  background-color: #eee;
  background: rgba(238, 238, 238, 0.7);
}

#iframe {
  background: rgba(255, 255, 255, 1.0);
}